<h3>Sample page "A"</h3>
<button analytics-on="click" analytics-event="Button 1" analytics-category="Commands" class="btn btn-default">Button 1</button>

  <!-- same as analytics-on="click", because 'click' is the default -->
  <button analytics-on analytics-event="Button 2" analytics-category="Commands" class="btn btn-primary">Button 2</button>

  <!-- same as analytics-event="Button 3", because is inferred from innerText -->
  <button analytics-on analytics-category="Commands" class="btn btn-success">Button 3</button>

  <button analytics-on analytics-label="Button4 label" analytics-value="1" class="btn btn-info">Button 4</button>